.container {
    height: 770px;
}

.map {
    width: 100%;
    height: 100%;
}

.list {
    float: right;
    width: 600px;
}

.row {
    width: 100%;
    margin-bottom: 1px;
    border-bottom: solid 1px #eee;
}

.row-inner {
    margin: auto;
    display: table;
}

.row .row-item {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

.row .name-area {
    width: 240px;
    padding: 0 10px;
}

.name-area .name {
    margin-bottom: 4px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}

.name-area .address {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}

.row .wait-time {
    width: 180px;
    padding: 0 10px;
}

.wait-time p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.row .icon {
    padding: 0 5px;
}



@media screen and (max-width: 1024px) {
    .list {
        width: 500px;
    }
    
    .name-area {
        width: 180px;
        padding: 0 5px;
    }
    
    .name-area .name {
        font-size: 14px;
    }
    
    .name-area .address {
        font-size: 10px;
    }
    
    .wait-time {
        width: 150px;
        padding: 0 5px;
    }
    
    .wait-time p {
        font-size: 12px;
    }
    
    .icon {
        padding: 0 3px;
    }
}

@media screen and (max-width: 768px) {
    .list-container {
        height: auto;
    }

    .list {
        clear: both;
        width: 100%;
    }
    
    .row .name-area {
        width: 240px;
        padding: 0 10px;
    }
    
    .name-area .name {
        font-size: 18px;
    }
    
    .name-area .address {
        font-size: 12px;
    }
    
    .row .wait-time {
        width: 180px;
        padding: 0 10px;
    }
    
    .wait-time p {
        font-size: 14px;
    }
    
    .row .icon {
        padding: 0 5px;
    }

    .map {
        clear: both;
        height: 500px;
    }
}

@media screen and (max-width: 600px) {  
    .list-container {
        top: 60px;
    }

    .row .name-area {
        width: 180px;
        padding: 0 5px;
    }
    
    .name-area .name {
        font-size: 14px;
    }
    
    .name-area .address {
        font-size: 10px;
    }
    
    .row .wait-time {
        width: 120px;
    }
    
    .wait-time p {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .row .icon {
        display: none;
        width: 0;
    }
}