<form class="new-clinic-form" [formGroup]="newClinicForm" (ngSubmit)="onSubmit(newClinicForm)" novalidate>
    <h2>Enter Clinic Information</h2>
    
    <h3>Clinic Profile</h3>
    <mat-form-field>
        <input matInput placeholder="Clinic Name" formControlName="name">
    </mat-form-field>
    
    <mat-form-field>
        <textarea matInput placeholder="Clinic Description" formControlName="description"></textarea>
    </mat-form-field>
    
    <h3>Wait Time</h3>
    <h4>{{ waitTime.hours }} Hours and {{ waitTime.minutes }} Minutes</h4>
    <label>Hours</label>
    <mat-slider min="0" max="23" [value]="waitTime.hours" (input)="waitTime.hours = $event.value"></mat-slider>
    <label>Minutes</label>
    <mat-slider min="0" max="59" [value]="waitTime.minutes" (input)="waitTime.minutes = $event.value"></mat-slider>
    <input type="hidden" #actualTime formControlName="waitTime" [value]="(waitTime.hours * 3.6e6) + (waitTime.minutes * 6e4)">

    <h3>Location</h3>
    <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
        <input type="hidden" formControlName="lat">
        <input type="hidden" formControlName="lng">
    </mat-form-field>
    <mat-hint *ngIf="newClinicForm.dirty && newClinicForm.controls.address.valid">Location found!</mat-hint>
    <mat-error *ngIf="newClinicForm.controls.address.hasError('address')">
        Could not locate address.
    </mat-error>

    <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="accent" type="reset" (click)="resetForm(newClinicForm)">Clear</button>
        <span *ngIf="formSubmitted">Clinic successfully added</span>
    </div>
</form> 