<section class="mat-typography container">
	<h1 id="welcome-title">About this Website</h1>
	
	<h2>Overview</h2>
	<p>
		This website is single-page application that represents a fictional network of medical clinics, and was 
		built using modern web technologies and techniques. This site demonstrates key web development skills, such 
		as unit/end-to-end testing, asynchronous programming, and user authentication.
	</p>
	<p>
		Continue reading to learn more about the specific technologies used to build this site, or 
		<a href="https://github.com/chairswithlegs/closest-clinic">click here</a> to view this project on Github.
	</p>
	
	<h2>Front-End</h2>
	<p>
		The user facing portion of this site is built on Angular 5 framework and the RxJS library. The UI is styled 
		using Google's Material Design library and design specs. This site also makes use of Google's Map and 
		Geocoding APIs for finding and displaying clinic locations. Unit testing uses the test runner Karma, while 
		end-to-end testing is done using Protractor.
	</p>
	
	<h2>Back-end</h2>
	<p>
		The back-end of this site is built on ASP.NET Core 2 and the .NET Core 2 ecosystem. Clinic data is managed 
		using the Entity Framework. User authentication is handled by the ASP.NET Core Identity framework and 
		communicated to the front-end through the use of JSON Web Tokens.
	</p>
	
</section>