<div class="mat-typography">
    <mat-form-field>
        <input matInput name="name" placeholder="Clinic name" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput name="description" placeholder="Clinic description" [(ngModel)]="description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" id="save" (click)="save()">Save</button>
    <button mat-raised-button color="accent" id="cancel" (click)="cancel()">Cancel</button>
</div>