<article>
  <div class="mat-typography detail">
    <h1>
      {{ clinic?.name }}
    </h1>
    <h3>The current estimate wait time is:</h3>
    <h2 *ngIf="clinic?.waitTime">{{ clinic?.waitTime | millisecondsToReadable:2:3 }}</h2>
    <h2 *ngIf="!clinic?.waitTime">Little to no wait</h2>

    <p>
      {{ clinic?.description }}
    </p>

    <button mat-raised-button color="primary" [routerLink]="'../'">More Clinics</button>
    <button mat-raised-button color="accent" (click)="getDirections()">Directions</button>
  </div>
  
  <div class="map">
    <app-clinic-map
      class="mat-elevation-z8"
      [clinics]="clinic ? [clinic] : []" 
      [center]="{ lat: clinic?.lat || 0, lng: clinic?.lng || 0 }">
    </app-clinic-map>
  </div>
</article>