.nav .wrap {
	padding: 0 10%;
}

.nav .fill-remaining-space {
    flex: 1 1 auto;
}

.nav .nav-item {
    padding: 0 20px;
    cursor: pointer;
}

.nav .nav-item:first-child {
    padding-left: 0;
}

.nav .nav-item:last-child {
    padding-right: 0;
}