/* Fix for header elevation */
header {
    position: relative;
    z-index: 1;
 }

/* Nav bar */
mat-toolbar {
    padding: 0 5%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.nav-title {
    cursor: pointer;
    outline: none;
}

.nav-item {
    padding: 0 20px;
    cursor: pointer;
    outline: none;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item:last-child {
    padding-right: 0;
}

.responsive-nav-item {
    display: none;
}

/* Footer */
footer {
    padding: 40px 0;
    text-align: center;
    color: #333;
}

@media screen and (max-width: 768px) {
    .nav-item {
        display: none;
    }
    
    .responsive-nav-item {
        display: inline-block;
    }
}