<header>
	<nav class="nav">
		<mat-toolbar color="primary" class="wrap">
			<span [routerLink]="''" class="nav-item">Application Title</span>
			
			<!-- This fills the remaining space of the current row -->
			<span class="fill-remaining-space"></span>
			
			<span class="nav-item"><button mat-button [routerLink]="'clinic'">Clinics</button></span>
			<span class="nav-item"><button mat-button [routerLink]="'about'">About</button></span>
		</mat-toolbar>
	</nav>
</header>

<article class="wrap">
	<router-outlet></router-outlet>
</article>
