.container {
	max-width: 460px;
	margin: auto;
	padding: 120px 0;
}

h1 {
	text-align: center;
}

.button-container {
	padding-top: 20px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a {
	text-decoration: none;
}