.container {
    padding: 40px 5%;
    width: 100%;
    min-height: 600px;
}

h2 {
    margin-top: 40px;
}

.update-list .row {
    width: 100%;
    margin-bottom: 1px;
    border-bottom: solid 1px #eee;
    display: table;
}

.update-list .row:first-child {
    margin-top: 1px;
    border-top: solid 1px #eee;
}

.update-list .row .row-item {
    display: table-cell;
    vertical-align: middle;
}

.update-list .row h3 {
    width: 200px;
    margin: 0;
}

.update-list .row button {
    margin: 22px 2px;
    float: right;
}



.settings-block {
    text-align: left;
    width: 320px;
    margin: 0 auto 30px auto;
}

.settings-block .header {
    background-color: #3F51B5;
    color: #fff;
    padding: 20px;
    height: 76px;
}

.settings-block .header h2 {
    margin: 0;
    display: inline-block;
    line-height: 36px;
}

.settings-block .content h3 {
    margin: 0;
}

.settings-block .header .header-button {
    float: right;
}

.settings-block .danger {
    background-color: #E91E63;
}

.settings-block .content {
    padding: 20px;
}

.settings-block .content p {
    font-size: 14px;
    margin: 0;
}