.container {
    padding: 40px 5%;
    max-width: 1200px;
    margin: auto;
}

h2 {
    margin-top: 40px;
}

.update-list .row {
    width: 100%;
    margin-bottom: 1px;
    border-bottom: solid 1px #eee;
    display: table;
}

.update-list .row:first-child {
    margin-top: 1px;
    border-top: solid 1px #eee;
}

.update-list .clinic-title {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.update-list .clinic-title h3 {
    margin: 0;
    padding-right: 20px;
}

.update-list .row-buttons {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    float: right;
}

.update-list button {
    margin: 22px 5px;
}

.update-list .responsive-menu {
    margin: 11px 5px;
    display: none;
}



@media screen and (max-width: 1024px) {
    .update-list .clinic-title h3 {
        font-size: 14px;
    }

    .update-list button {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .update-list .row-buttons {
        display: none;
    }

    .update-list .responsive-menu {
        display: table-cell;
        vertical-align: middle;
        float: right;
    }
}

@media screen and (max-width: 480px) {
    .update-list .clinic-title h3 {
        font-size: 12px;
    }
}